<!DOCTYPE html>
<html>
    <head>
        <title>API</title>
        <style>
            #root th{
                border: 1px solid black;
                padding : 5px;
            }
        </style>
    </head>
    <body>
        <button id="display" onclick="display()">Display</button>
        <table cellspacing="15px" id="root"></table> <!-- table tag for containing headings and rows -->     
        <script src="../assets/js/script.js"></script>
    </body>
</html>